*.pyc
.vscode
output
build
tensorboard_3d
screenshots

# Add ignore

inputs
camera_calibration
ss_raw_images
ss_utils/static
colmap_output_added_bin
ss_utils/ctm_exporter.cpython*
ss_utils/testMeshesOld
ss_utils/testMeshes
ss_utils/test_ctm
ss_utils/dist
ss_utils/build
ss_utils/ctm_exporter.egg-info
ss_utils/ctm_output
vis2mesh/example
vis2mesh/checkpoints/*.pth
output_old/
SIBR_SERVER/
camera_calibration_old/

