*.pyc
.vscode
output
build
tensorboard_3d
screenshots

# Add ignore

inputs
camera_calibration
ss_raw_images
ss_utils/depth_scripts/ctm_exporter/ctm_exporter.cpython*
ss_utils/depth_scripts/ctm_exporter/build
ss_utils/depth_scripts/ctm_exporter/ctm_exporter.egg-info
ss_utils/depth_scripts/ctm_exporter/dist
vis2mesh/example
vis2mesh/checkpoints/*.pth
vis2mesh/tools
output_old/
SIBR_SERVER/
camera_calibration_old/

