<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mask Confirmation</title>
    <style>
        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        .image-container img {
            max-width: 60%; /* Adjust size of images */
            height: auto; /* Maintain aspect ratio */
        }
    </style>
     <script>
        document.addEventListener('keydown', function(event) {
            if (event.key === 'y') {
                document.getElementById('confirm-btn').click();
            } else if (event.key === 'n') {
                document.getElementById('deny-btn').click();
            }
        });
    </script>
</head>
<body>
    <h1>Confirm the Mask for the Image</h1>
    <div class="image-container">
        <div>
            <h2>Original Image:</h2>
            <img src="images/{{ image }}" alt="Original Image">
        </div>
        <div>
            <h2>Proposed Mask {{ mask_to_confirm_name }}:</h2>
            <img src="{{ mask }}" alt="Mask Image">
        </div>
    </div>
    <form method="POST">
        <button type="submit" name="choice" value="confirm" id="confirm-btn">Confirm (Y)</button>
        <button type="submit" name="choice" value="deny" id="deny-btn">Deny (N)</button>
    </form>
</body>
</html>
